[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
dev = "python ."
build = "python"

[dev-packages]
pyinstaller = "*"

[packages]
moviepy = "*"
instaloader = "*"
scikit-image = "*"
pyqt5 = "*"
python-dotenv = "*"
loguru = "*"
docopt = "*"
qimage2ndarray = "*"

[requires]
python_version = "3.8"
